
body {
  margin: 0;
  padding: 0;
}

/* Card */
.App .card-body{
  padding :  1rem;
}
.btn{
  white-space: normal;
}

/* modif de nav **/
@media screen and (max-width: 768px){
  .navbar .container{
    width:  100%;
    margin: 0;
    padding: 0;
  }
  .navbar-toggler{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    height: 50px;
    margin-top: -3px;
  }
  .navbar-brand{

  }
  .container{
    width: 100%;
    max-width: 10000px;
    padding: 0;
  }
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-toggler{
  border-color: #3370ec;
  color:  rgba(0,0,0,0.7);
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ef4871' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-brand+div{
  width : 100%;
}

/*
   AJOUTS DE STYLES BOOTSTRAP
   - pink
   - blue
   - yellow (not done)
   - green = success
   - green rond
   - red = danger

 */
.btn{
  padding:  0.375rem 0.75rem calc(0.375rem - 2px);
}
.btn-pink {
  color: #fff;
  background-color: #ff3065;
  border-color: #ff3065;
}

.btn-pink:hover {
  color: #fff;
  background-color: #c7234d;
  border-color: #c7234d;
}

.btn-pink:focus, .btn-pink.focus {
  box-shadow: 0 0 0 0.2rem rgba(199, 35, 77, 0.5);
}

.btn-pink.disabled, .btn-pink:disabled {
  color: #fff;
  background-color: #ff3065;
  border-color: #ff3065;
}

.btn-pink:not(:disabled):not(.disabled):active, .btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle {
  color: #fff;
  background-color: #c7234d;
  border-color: #c7234d;
}

.btn-pink:not(:disabled):not(.disabled):active:focus, .btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(199, 35, 77, 0.5);
}

.btn-blue {
  color: #fff;
  background-color: #3370ec;
  border-color: #3370ec;
  border-radius: 50px;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
}

.btn-blue:hover {
  color: #fff;
  background-color: #2654b1;
  border-color: #2654b1;
}

.btn-blue:focus, .btn-blue.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 84, 177, 0.5);
}

.btn-blue.disabled, .btn-blue:disabled {
  color: #fff;
  background-color: #3370ec;
  border-color: #3370ec;
}

.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
  color: #fff;
  background-color: #2654b1;
  border-color: #2654b1;
}

.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 84, 177, 0.5);
}


.btn-yellow {
  color: #1D1D1D;
  background-color: #f9be00;
  border-color: #f9be00;
  border-radius: 50px;
  font-size: 1.25rem;
  line-height: 1.7;
  font-weight: 800;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
}

.btn-yellow:hover {
  color: #1D1D1D;
  background-color: #e8b202;
  border-color: #e8b202;
}

.btn-yellow:focus, .btn-yellow.focus {
  box-shadow: 0 0 0 0.2rem rgba(232, 178, 2, 0.5);
}

.btn-yellow.disabled, .btn-yellow:disabled {
  color: #1D1D1D;
  background-color: #f9be00;
  border-color: #f9be00;
}

.btn-yellow:not(:disabled):not(.disabled):active, .btn-yellow:not(:disabled):not(.disabled).active,
.show > .btn-yellow.dropdown-toggle {
  color: #1D1D1D;
  background-color: #e8b202;
  border-color: #e8b202;
}

.btn-yellow:not(:disabled):not(.disabled):active:focus, .btn-yellow:not(:disabled):not(.disabled).active:focus,
.show > .btn-yellow.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(232, 178, 2, 0.5);
}



.btn-green {
  color: #FFF;
  background-color: #2ab56a;
  border-color: #2ab56a;
  border-radius: 50px;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
}

.btn-green:hover {
  color: #FFF;
  background-color: #33d47d;
  border-color: #33d47d;
}

.btn-green:focus, .btn-green.focus {
  color: #FFF;
  box-shadow: 0 0 0 0.2rem rgba(51, 212, 125, 0.5);
}

.btn-green.disabled, .btn-green:disabled {
  color: #FFF;
  background-color: #2ab56a;
  border-color: #2ab56a;
}

.btn-green:not(:disabled):not(.disabled):active, .btn-green:not(:disabled):not(.disabled).active,
.show > .btn-green.dropdown-toggle {
  color: #FFF;
  background-color: #33d47d;
  border-color: #33d47d;
}

.btn-green:not(:disabled):not(.disabled):active:focus, .btn-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(51, 212, 125, 0.5);
}



/** FROM STYLED **/
.form-check-label{
  margin-left: 1.25rem;
}
