#zombiesMTL {
  background: black !important;
}
#zombiesMTL footer{
  color: #fff !important;
}
#zombiesMTL .card{
  background: rgba(255,255,255,0.2) !important;
  border: none !important;
  color: #f00 !important;
}
#zombiesMTL .card-body{
  background: none !important
}
#zombiesMTL h5, #zombiesMTL p{
  color: #00bae7 !important;
}



#mtl .btn-yellow {
  color: #FFF;
  background-color: #e61e30;
  border-color: #e61e30;
  border-radius: 50px;
  font-size: 1.25rem;
  line-height: 1.7;
  font-weight: 800;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, .2);
}

#mtl .btn-yellow:hover {
  color: #FFF;
  background-color: #e61e30;
  border-color: #e61e30;
}

#mtl .btn-yellow:focus, #mtl .btn-yellow.focus {
  box-shadow: 0 0 0 0.2rem  rgba(230, 30, 48, 0.5);
}

#mtl .btn-yellow.disabled, #mtl .btn-yellow:disabled {
  color: #FFF;
  background-color: #e61e30;
  border-color: #e61e30;
}

#mtl .btn-yellow:not(:disabled):not(.disabled):active,
#mtl .btn-yellow:not(:disabled):not(.disabled).active,
#mtl .show > .btn-yellow.dropdown-toggle {
  color: #FFF;
  background-color: #e61e30;
  border-color: #e61e30;
}

#mtl .btn-yellow:not(:disabled):not(.disabled):active:focus,
#mtl .btn-yellow:not(:disabled):not(.disabled).active:focus,
#mtl .show > .btn-yellow.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(230, 30, 48, 0.5);
}
